/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: #dddddd;
}
header{
	font-family: 'Georgia';
	position: fixed;
	height: 200px;
	top: 0;
	width: 100%;
	z-index: 100;
	position:fixed;
}
h2 {
	color: #4aaaa5;
	font-size:25px;
}
aside{
	background-color: #4aaaa5;
	width: 15%;
	height: 42px;
	padding:25px;
	float: left ;
	margin-left:100px;

}
h1{
	color: white;
	margin-bottom: 5px;
	font-size:25px;
}
ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}
li{
	float: right;
	margin-right: 50px;
}
li a {
	display: block;
	color:#777777;
	text-align: center;
	padding: 35px;
	text-decoration: none;
	font-size:20px;
}
li a:hover{
	background-color: #111;
	color:white;
	padding:35px;
}
#wrapper{
	margin-top: 150px;
	color:#777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 2;
}
img{
	float: left;
	margin-right: 10px;
}
#one {
	background-color: white;
	width: 40%;
	height: 450px;
	padding: 30px;
	margin-left: 180px;
	overflow: auto;
	float: left;
	text-indent: 10px;
}
#two{
	background-color: white;
	width: 25%;
	height: 200px;
	margin-left: 100px;
	float:left;
	text-indent: 30px;
}
#two img{
	
}
